replicaCount: 2

image:
  repository: nginx
  tag: "1.27-alpine"
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 80
  nodePort: null

pageTitle: "Hello from Jenkins + Helm"
message: "Edit values.yaml or templates/configmap.yaml to trigger rolling update"
buildInfo: "local"

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi
